{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit Author{% endblock %}

{% block body %}
    <h1>Edit Author</h1>

    {{ include('dashboard/author/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dashboard_author_index') }}">back to list</a>

    {{ include('dashboard/author/_delete_form.html.twig') }}
{% endblock %}
