{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ include('dashboard/comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comment_index') }}">back to list</a>

    {{ include('dashboard/comment/_delete_form.html.twig') }}
{% endblock %}
